<h1>Vos informations</h1>
<form method="POST" action="/commande/informations">
  <input name="prenom" placeholder="Prénom" required />
  <input name="nom" placeholder="Nom" required />
  <input name="email" placeholder="Email" required />
  <input name="adresse" placeholder="Adresse" required />
  <input name="codePostal" placeholder="Code Postal" required />
  <input name="ville" placeholder="Ville" required />
  <button type="submit">Étape suivante : Paiement</button>
</form>
